
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<a href="/Default/Urunler" / class="btn btn-info">ürünler sayfası</a>
<a href="/Default/Musteriler/" class="btn btn-danger">Musteri Sayfası</a>
<a href="/Default/Deneme" / class="btn btn-info">Deneme sayfası</a>


<h1>Merhaba Core Oop Projesi</h1>
<h2>Dersler devam ediyor</h2>
<h1>Mesaj listesi</h1>
<h1>--------------------</h1>
<h2>@ViewBag.m1</h2>
<h2>@ViewBag.m2</h2>
<h2>@ViewBag.m3</h2>
<h3>@ViewBag.v</h3>
<h4>@ViewBag.k</h4>
<h4>sonuc: @ViewBag.T</h4>

