
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<a href="/Default/Index/" class="btn btn-info">Index Sayfası</a>
<a href="/Default/Musteriler/" class="btn btn-info">Musteriler Sayfası</a>
<a href="/Default/Deneme" class="btn  btn-info">Deneme Sayfası</a>
<h1>Urunler sayfası</h1>
<h3>@ViewBag.m1</h3>
<h3>@ViewBag.m2</h3>
<h3>@ViewBag.m3</h3>
<h3>Toplam: @ViewBag.t</h3>
<h4>@ViewBag.k</h4>


