@model Proje_OOP.Entity.Customer
@{
    ViewData["Title"] = "UpdateCustomer";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

<h1>Müşteri Güncelleme Sayfasi</h1>

<form method="post">
    @Html.Label("müşteri Id")
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
    <br />
    @Html.Label("müşteri Adı")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    @Html.Label("müşteri Sehri")
    @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>
