
@model Proje_OOP.Entity.Product

@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

<h1>ürün Ekleme Sayfası</h1>

<form method="post">
    @Html.Label("Ürün Adı")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    @Html.Label("Fiyat")
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    @Html.Label("Stok Sayisi")
    @Html.TextBoxFor(x => x.Stock, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">ürünü Ekle</button>
</form>
